@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

body {
  background-color: #ffffff;
  letter-spacing: -0.01em;
}
/* .navtext {
    
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    
    line-height: 1;
} */
.inter-apple {
  font-family: "Inter", sans-serif;

  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.01em;

  line-height: 1;
}
.navbar {
    animation-name: slideDown   ;
    animation-duration: 0.5s  ;

}
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}
.title {
    font-family: "Inter", sans-serif;

    font-size: 60px;
    font-weight: 600;
    letter-spacing: -0.01em;

}
.description {
    font-family: "Inter", sans-serif;

    font-size: 30px;
    font-weight: 400;
   
    letter-spacing: -0.01em;
 
}
.cardthreeheading {
    font-family: "Inter", sans-serif;

    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.01em;
}
.cardthreeheadingdes {
    font-family: "Inter", sans-serif;

    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.01em;
}
